doctype html
html
  head
    title tyler paige
    link(rel='stylesheet', type='text/css', href='/assets/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/assets/css/powerppt.css')
    style(type='text/css').
      @import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,900italic);
      html{
        font-size: 62.5%;
      }
      html, body{
        height: 100%;
      }
      body{
        background: whitesmoke;
        font-family: Georgia, serif;
      }
      #container{
        display: table;
        width: 100%;
        height: 100%;
        text-align: center;
      }
      .slide{
        background: whitesmoke;
      }
      #toc{
        background: #262262;
        font-family: 'Playfair Display', Georgia, serif;
        color: whitesmoke;
        font-size: 2.8rem;
      }
      #toc .content{
        text-align: left;
      }
      #toc h1{
        color: #262262;
        font-size: 6.0rem;
        font-weight: 900;
        text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
      }
      #toc ul{
        margin-top: 1em;
        list-style: circle;
        list-style-position: inside;
      }
      #toc li{
        margin-top: .5em;
      }
      #toc li a{
        color: white;
        box-shadow: inset 0 -3px 0 rgb(27,41, 249);
      }
      #start{
        -webkit-transition: background 5s ease;
        transition: background 5s ease
      }
      #title{
        width: 100%;
        text-align: center;
        font-size: 42pt;
        text-align: center;
        font-style: italic;
        transition: all 2s ease;
        -webkit-transition: all 2s ease;
      }
      #pointer{
        width: 70px;
        height: 30px;
        position: absolute;
        left: 20px;
        margin-top: 7px;
        cursor: pointer;
        color: rgb(85, 26, 139);
        border: 2px solid rgb(85, 26, 139);
        font-size: 3.0rem;
        line-height: 2.7rem;
        animation-duration: 1s;
        -webkit-animation-duration: .75s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-direction: alternate;
        -webkit-animation-direction: alternate;
        animation-name: 'press';
        -webkit-animation-name: 'press';
      }
      #pointer:before{
        content: 'Table of Contents';
        width: 100%;
        display: block;
        position: absolute;
        left: 100%;
        transform: rotate(-90deg);
        font-size: 1.5rem;
        line-height: 1.2em;
      }
      a{
        text-decoration:none;
      }

      @keyframes 'press' {
        0% {
          transform: translate(-7px, 7px);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
        }
        100% {
          transform: translate(0px, 0px);
          box-shadow: -7px 7px 15px rgba(0, 0, 0, 0.25);
        }
      }

      @-webkit-keyframes 'press' {
        0% {
          -webkit-transform: translate(-7px, 7px);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
        }
        100% {
          -webkit-transform: translate(0px, 0px);
          box-shadow: -7px 7px 15px rgba(0, 0, 0, 0.25);
        }
      }
    script(type='text/javascript', src='/assets/js/jquery-2.1.3.min.js')
    script(type='text/javascript', src="/assets/js/powerppt.js")
    script(type='text/javascript').
      document.addEventListener('DOMContentLoaded', function(){
        function getRand(min, max) {
          var rand = Math.floor(Math.random() * (max - min) + min);
          return rand;
        };
        var text = document.getElementById('title'),
            body = document.getElementsByTagName('body')[0],
            origin = document.getElementById('start');

        var changeShadow = window.setInterval(function() {
          var val = getRand(-100, 100) + 'px ' + getRand(-100, 100) + 'px ' + getRand(0, 100) + 'px rgba(0,0,0,.5)';
          text.style.textShadow = val;
        }, 1000);

        var changeBg = window.setInterval(function() {
          var val = 'rgb('+getRand(107, 147)+', '+getRand(107, 147)+', '+getRand(107, 147)+')';
          origin.style.background = val;
        }, 5000);

        $('#container').powerPPT({
          controls: true,
          origin:   '#start'
        });

        $('#pointer').click(function() {
          var e = $.Event('keydown')
          e.keyCode = 37;
          $(document).trigger(e);
        })
      });
  body
    #container
      div#toc.slide
        div.content
          div.wrapper
            h1 Projects:
            ul
              each val in links
                li
                  a(href!= val.href)!= val.disp
      div#start.slide
        div.content
          div.wrapper
            div#pointer
              &larr;
            h1#title
              a(href='space.html') TCP
